.layout-top-nav .main-header .navbar {
    margin-left: 150px;
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
    background-color: #055f93;
}

.main-header .logo {
    width: 150px;
}

table.table-bordered.dataTable tbody td {
    vertical-align: middle;
}

label.required:after {
    content: '*';
    color: red;
    padding-left: 3px;
}

.modal-footer .btn.btn-primary {
    min-width: 150px;
}

.modal-footer .btn.btn-default {
    min-width: 100px;
}

select {
    appearance: none;
    background-image: url(https://www.svgrepo.com/show/80156/down-arrow.svg) !important;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: calc(100% - 12px)
}
